name: Build and Deploy to Docker Hub

on:
  push:
    branches:
      - master

env:
  DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}  
  DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}        
  IMAGE_NAME: githuction
  IMAGE_TAG: latest
  CLUSTER_NAME: sre-airports-api-cluster

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          project_id: ${{ secrets.GCP_PROJECT }}
          service_account_key: ${{ secrets.GOOGLE_CREDENTIALS }}
          install_components: 'gke-gcloud-auth-plugin'
          export_default_credentials: true

      - name: 'Configure GCP Project'
        run: gcloud config set project ${{ secrets.GCP_PROJECT }}

      - name: Build Docker image
        run: |
          docker build -t ${{ env.DOCKER_HUB_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} .

      - name: Login to Docker Hub
        run: echo "${{ env.DOCKER_HUB_TOKEN }}" | docker login -u ${{ env.DOCKER_HUB_USERNAME }} --password-stdin

      - name: Push Docker image to Docker Hub
        run: |
          docker push ${{ env.DOCKER_HUB_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

      - name: Get GKE credentials
        run: gcloud container clusters get-credentials ${{ env.CLUSTER_NAME }} --zone us-central1

      # Need to Fix this part. 
      # - name: Deploy to GKE
      #   run: |
      #     # Apply the Kubernetes deployment
      #     kubectl get namespaces


